* {
  border: 0;
  font-size: 0;
  padding: 0;
}
.box1 {
  width: 100px;
  height: 100px;
  background: #f00;
}
.box2 {
  width: 100px;
  height: 100px;
  background: #f00;
}
.vot {
  font-size: 20px;
}
